body{
    font-family: Arial, sans-serif;
    background: 
        linear-gradient(rgba(33, 37, 84, 0.7), rgba(33, 37, 84, 0.7)),
        url("yujinishida.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;

    height: 100vh;
    margin: 0;
    color: white;
}

.container {
    width: 40vw;
    min-width: 380px;
    height: 100vh;

    background-color: #44397d;
    padding: 40px;
    margin-right: 50%;
    text-align: center;
    opacity: 0.97;
    box-shadow: 4px 0 10px rgba(0, 0, 0, 0.3);

    display: flex;
    flex-direction: column;
    justify-content: center;  
    align-items: center;    


}


input[type="text"],
input[type="password"],
input[type="email"] {
    width: 250px;
    padding: 10px;
    margin: 8px 0;
    border: 2px solid blanchedalmond;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.15);
    color: blanchedalmond;
    font-size: 15px;
    outline: none;
    transition: 0.3s;
}

.hreg {
    color: #ffcc00;
    text-decoration: none;
}
.hreg:hover {
    text-decoration: underline;
}

.hbtn {
    background-color: #ffcc00;
    color: #212554;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.alert {
    background-color: #f8d7da;
    color: #721c24;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 15px;
    border: 1px solid #f5c6cb;
    text-align: center;
}